@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    background-color: #EAEDED;
    font-family: "Outfit", sans-serif;
}
.heading{
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: bold;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hide-scrollbar {
    overflow-x: scroll; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }