@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer 10+ */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}